@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
@font-face {
  src: url(../font/nasalization-rg.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
  font-family: "nasa";
}
html {
  background-color: black;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}
#background {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  z-index: -10;
  opacity: 0.5;
}
#cabecalho {
  padding: 2rem 0;
  width: 100vw;
  text-align: center;
  color: white;
  font-size: 50px;
  font-family: "nasa";
}
#cabecalho h1 {
  min-width: 100%;
}
.principal {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 80rem;
  color: white;
  margin: 2rem auto;
  font-family: "Comfortaa", cursive;
}
label {
  font-size: 25px;
}
label,
#data,
#submit {
  margin: 1rem 0;
}

#data {
  background: #09644146;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
}
#submit {
  backface-visibility: hidden;
  background: #09644146;
  border: 0;
  border-radius: 0.375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.3;
  padding: 10px 0;
  min-width: 10rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#submit:disabled {
  color: #787878;
  cursor: auto;
}

#submit:not(:disabled):hover {
  transform: scale(1.05);
}

#submit:not(:disabled):hover:active {
  transform: scale(1.05) translateY(0.125rem);
}

#submit:focus {
  outline: 0 solid transparent;
}

#submit:focus:before {
  border-width: 0.125rem;
  content: "";
  left: calc(-1 * 0.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1 * 0.375rem);
  transition: border-radius;
  user-select: none;
}

#submit:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

#submit:not(:disabled):active {
  transform: translateY(0.125rem);
}

#titulo-img-video {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
#titulo-img-video,
#img,
#descricao {
  margin: 2rem 0;
}
#img {
  max-width: 700px;
  max-height: 700px;
}
#descricao {
  font-size: 18px;
  line-height: 30px;
  max-width: 60rem;
  text-align: justify;
}
#video {
  width: 560px;
  height: 315px;
  padding: 2%;
}

#copy {
  margin: 3rem 0;
  font-size: 20px;
}
footer {
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 100vw;
  height: 3vh;
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding: 1rem 0;
  color: white;
  font-family: "nasa";
  text-decoration: none;
}
footer a {
  text-decoration: none;
  color: white;
}

@media (max-width: 1300px) {
  .principal {
    min-width: 50rem;
  }
  #titulo-img-video {
    font-size: 40px;
    max-width: 50rem;
  }
  #descricao {
    font-size: 16px;
    max-width: 45rem;
  }
  #copy {
    font-size: 18px;
  }
}
@media (max-width: 960px) {
  #cabecalho {
    font-size: 40px;
  }
  #titulo-img-video {
    font-size: 35px;
    max-width: 45rem;
  }
  .principal {
    min-width: 45rem;
  }
  #img,
  #video {
    max-width: 600px;
    max-height: 600px;
  }
  #descricao {
    font-size: 16px;
    max-width: 40rem;
  }
  #copy {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  #cabecalho {
    font-size: 35px;
  }
  .principal {
    min-width: 35rem;
  }
  label {
    font-size: 20px;
  }
  input {
    min-width: 8rem;
  }
  #titulo-img-video {
    font-size: 25px;
    max-width: 30rem;
  }
  #img,
  #video {
    max-width: 500px;
    max-height: 500px;
  }
  #descricao {
    font-size: 16px;
    max-width: 30rem;
  }
  #copy {
    font-size: 18px;
  }
}
@media (max-width: 580px) {
  #cabecalho {
    font-size: 22px;
  }
  .principal {
    min-width: 21rem;
  }
  label {
    font-size: 16px;
  }
  #data {
    padding: 6px 4px;
    max-width: 2rem;
    font-size: 16px;
  }
  #submit {
    min-width: 8.5rem;
    padding: 6px;
  }
  #titulo-img-video {
    font-size: 20px;
    line-height: 30px;
    max-width: 20rem;
  }
  #img,
  #video {
    max-width: 300px;
    max-height: 300px;
  }
  #descricao {
    font-size: 14px;
    max-width: 16rem;
    line-height: 27px;
    text-align: center;
  }
  #copy {
    margin: 2rem 0;
    font-size: 16px;
  }
  footer {
    font-size: 16px;
  }
}
